{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock head %}

{% block body %}
<main>
    {% with message = get_flashed_messages() %}
    {% if message %}
    {{ message[0] }}
    {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>
</main>
{% endblock body %}
