
{% extends "base.html" %}

{% block head %}
<title>Signup</title>
{% endblock head %}

{% block body %}
<main id="signup">
    <h1>Signup :)</h1>
    <div class="formContainer bg-dark-subtle ">
        <div>
            {% with message = get_flashed_messages() %}
            {% if message %}
                {{ message[0]}}
            {% endif %}
            {% endwith %}
        </div>
        <form action="/signup" method="POST" class="">
            <label for>Email</label><input type="email" name="email" id="email">
            <label for="username">Username</label><input type="text" name="username" id="username">
            <label for="password">Password</label><input type="password" name="password" id="password">
            <input type="submit" class="btn-info " value="Create an account">
        </form>
    </div>
</main>
{% endblock body %}
